body{
  font-family: "Open Sans","OpenSans",sans-serif;
  font-size: 16px;
  line-height: 1.35;
  margin: 0;
}
.bg-red{
  display: none;
}

/**** HEADER STYLE ****/

.header-menu{
  background: rgba(29,80,113,1);
  display: flex;
  flex-flow: wrap;
  width: 100%;
  align-items: center;
  font-size: 16px;
  z-index: 10;
  h1{
    display: none;
  }
  .logo-container{
    width: 50%;
    order:1;
    .logo-2{
      img{
        width: 80px;
        padding: 5px;
        background: transparent;
      }
    }
  }
  .finder-container{
    width: 90%;
    margin-left: 2.5%;
    order:4;
    input{
      background-color: rgba(0,0,0,0.1);
      background-color: transparent;
      color: inherit;
      border: 1px solid rgba(255,255,255,0.2);
      border-radius: 0;
      width: 100%;
      outline: 0;
      padding: 10px 10px;
    }
  }
  .log-container{
    width: calc(50% - 40px);
    order:2;

    .log{
      display: flex;
      width: 180px;
      float: right;
      align-items: center;
      .link-log{
        width: 50%;
        a{
          color: rgba(255,255,255,0.8);
          font-weight:lighter;
          text-decoration: none;
        }
        span{
            color: rgba(255,255,255,0.8);
        }
      }
      img{
        width: 45px;
        height: 45px;
      }
    }
  }
  .menu-container{
    width: 40px;
    order:3;
    margin-left: -10px;
    nav{
      ul{
        display:none;
      }
    }
  }
}
@media only screen and (min-width: 480px) {
  .header-menu{
    .log-container{
      .log{
        .link-log{
          width:65%;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .bg-red{
    display: block;
    background-color: rgb(193, 33, 39);
    width: 100%;
    height: 40px;
    position: absolute;
  }
  .header-menu{
    h1{
      display: block;
      font-size: 0.9em;
      margin-left: 20px;
      color:#fff;
      font-weight: 200;
      order:1;
      width: calc(40% - 20px);
      margin-top: -2px;
      z-index: 10;
    }
    .menu-container{
      order: 2;
      width: 60%;
      z-index: 10;
      margin-top: -8px;
      nav{
        float: right;
        img{
          display: none;
        }
        ul{
          display: flex;
          li{
            list-style: none;
            margin-left: 10px;
            a{
              color: #fff;
              font-weight: 100;
              text-decoration: none;
              font-size: 14px;
            }
          }
        }
      }
    }
    .logo-container{
      order:3;
      width: 20%;
      .logo-2{
        img{
          width: 125px;
          padding: 5px;
          background: transparent;
        }
      }
    }
    .finder-container{
      order:4;
      width: 50%;
      margin-left: 0;
      input{
        height: 25px;
      }
    }
    .log-container{
      order:5;
      width: 30%;
      .log{
        width: 180px;
        float: right;
        .link-log{
          display: flex;
          align-items: center;
          span{
            padding: 0 2px;
          }
        }
      }
    }
  }
}

/**** HERO STYLE ****/

.hero{
  background-color: #1D4E69;
  background-image: url(../../images/city-scape.svg);
  background-size: 100% 100%;
  padding-top: 60%;
  margin-top: -7em;
  .message-hero{
    padding-top: 200px;
    padding-left: 30px;
    h1{
      color: #fff;
      font-weight: 300;
      font-size: 48px;
    }
    p{
      font-size: 18px;
      font-weight: 400;
      color: rgba(255,255,255,0.8);
    }
    button{
      color: #fff;
      background-color: #f09233;
      outline: none;
      transition: all 300ms ease-out;
      font-weight: 400;
      border-radius: 20px;
      padding: 10px 26px 9px 26px;
      font-size: 18px;
      border: none;
      cursor:pointer;
      margin-bottom:30px;
    }
    button:hover{
      background-color: #e97e11;
    }
  }
}
@media only screen and (min-width: 480px){
  .hero{
    padding-top: 100%;
    .message-hero{
      padding-top: 0px;
      margin-top: -40%;
      padding-left: 30px;
      width:90%;
    }
  }
}
@media only screen and (min-width: 768px) {
  .hero{
    .message-hero{
      padding-top: 0px;
      margin-top: -30%;
      padding-left: 0px;
      width:80%;
      margin-left: 10%;
    }
  }
}
@media only screen and (min-width: 991px) {
  .hero{
    padding-top: 500px;
    .message-hero{
      padding-top: 0px;
      margin-top: -400px;
      padding-left: 0px;
      width:40%;
      margin-left: 7%;
    }
  }
}

/**** NPM ORGS STYLE ****/

.npmOrg{
  background: rgb(35,46,62);
  padding-top: 30px;
  .img-collaboration {
    img{
      width: 90%;
      margin-left: 5%;
    }
  }
  .message-collaboration{
    h2{
      padding-left: 30px;
      font-size: 36px;
      font-weight: 200;
      color: #fff;
    }
    ul{
      padding: 0 10px 0 50px;
      font-weight: 100;
      li{
        color: #fff;
        margin-bottom: 10px;

      }
    }
    .ctc{
      width: 55%;
      margin-left: 30px;
      padding-bottom: 40px;
      button{
        color: #fff;
        background-color: #cb3837;
        outline: none;
        transition: all 300ms ease-out;
        font-weight: 400;
        border-radius: 20px;
        padding: 10px 26px 9px 26px;
        font-size: 18px;
        border: none;
        cursor:pointer;
        margin-bottom: 15px;
      }
      button:hover{
        background-color: #ac2e2d;
      }
      a, span{
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .npmOrg{
    .img-collaboration{
      img{
        width: 500px;
        margin-left: 25%;
        margin-top: 80px;
      }
    }
    .message-collaboration{
      width: 60%;
      margin-left:22%;
    }
  }
}
@media only screen and (min-width: 991px) {
    .npmOrg{
    display: flex;
    .img-collaboration{
      width: 50%;
      padding: 5% 5%;
      img{
        width:500px;
        margin-top: 0;
      }
    }
    .message-collaboration{
      width: 500px;
      margin-left:-80px;
      margin-top: 45px;
    }
  }
}

/**** WHATWE STYLE ****/

.whatWe{
  background-color: #1D4E69;
  background-image: url(../../images/forklift.svg);
  background-size: 100% 100%;
  padding-top: 60%;
  .message-whatSection{
    margin:-100px 0 0 30px;
    h2{
      font-size: 36px;
      color: #fff;
      font-weight: 200;
    }
    p{
      color: #fff;
      font-weight: 200;
    }
    button{
      color: #fff;
      background-color: #34495e;
      outline: none;
      transition: all 300ms ease-out;
      font-weight: 400;
      border-radius: 20px;
      padding: 10px 26px 9px 26px;
      font-size: 18px;
      border: none;
      cursor:pointer;
      margin-bottom: 80px;
    }
    button:hover{
      background-color: #253544;
    }
  }
}
@media only screen and (min-width: 991px) {
  .whatWe{
    padding-top: 400px;
    max-width: 100%;
    .message-whatSection{
      margin:-300px 0 0 20%;
      width: 300px;
      padding-bottom: 150px;
      h2{
        font-size: 36px;
        color: #fff;
        font-weight: 200;
      }
      p{
        color: #fff;
        font-weight: 200;
      }
    }
  }
}

/**** WHATCAN STYLE ****/

.whatCan{
  display: flex;
  flex-flow: column;
  align-items: center;
  h2{
    width: 90%;
    margin-left: 5%;
    text-align: center;
    font-size: 36px;
    font-weight: 200;
    color: #373d48;
  }
  p{
    width: 90%;
    text-align: center;
    color: #6d7986;
    padding: 0 15px;
  }
  .features{
    width: 70%;
    .featureOne, .featureTwo, .featureThree{
      display: flex;
      flex-flow: column;
      align-items: center;
      margin-bottom: 20px;
      h3{
        margin-bottom: -10px;
        font-size: 20px;
      }
      a{
        color: #cb3837;
      }
    }
  }
}
@media only screen and (min-width: 991px){
  .whatCan{
    .features{
      width: 90%;
      margin-top: 50px;
      display: flex;
      .featureOne, .featureTwo, .featureThree{
        p{
          width: 60%;
        }
      }
    }
  }
}

/**** JOINUS STYLE ****/

.joinUs{
  img{
    width: 100%;
  }
  .message-joinUs{
    background-color: #1A8BCB;
    padding: 20px 0 0 0;
    margin-top: -10px;
    h2{
      font-size: 36px;
      color: #fff;
      font-weight: 100;
      margin-left: 25px;
    }
    p{
      color: #fff;
      font-weight: 200;
      line-height: 1.75;
      padding: 0 20px 30px 20px;
    }
  }
}
@media only screen and (min-width: 768px){
  .joinUs{
    width: 100%;
    display: flex;
    position: relative;
    background: #33495e;
    padding: 100px 0;
    img{
      width: 70%;
      margin-left: 30%;
      height: 400px;
    }
    .message-joinUs{
      width: 30%;
      margin-left: 10%;
      position: absolute;
      background: transparent;
    }
  }
}

/**** GOAL STYLE ****/

.goal{
  margin-top: -20px;
  background: rgba(29,80,113,1);
  padding-bottom: 50px;
  .img-goal{
    img{
      width: 70%;
      margin-left: 15%;
      margin-top: 15%;
    }
  }
  .goal-message{
    width: 90%;
    margin-left: 5%;
    h2{
      font-size: 36px;
      color: #fff;
      font-weight: 100;
      margin-left: 25px;
    }
    p{
      color: #fff;
      font-weight: 200;
      line-height: 1.75;
      padding: 0 20px 30px 20px;
    }
    button{
      color: #fff;
      background-color: #cb3837;
      outline: none;
      transition: all 300ms ease-out;
      font-weight: 400;
      border-radius: 20px;
      padding: 10px 26px 9px 26px;
      font-size: 18px;
      border: none;
      cursor:pointer;
      margin-bottom: 15px;
      margin-left: 20px;
    }
    button:hover{
      background-color: #ac2e2d;
    }
  }
}
@media only screen and (min-width: 768px){
  .goal{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .img-goal{
      img{
        width: 400px;
      }
    }
    .goal-message{
      width: 500px;
      margin-left: -100px;
    }
  }
}

/**** PAYSOLUTIONS ****/

.paySolutions{
    background-color: #f0f0f0;
    padding-top: 20px;
    width: 100%;
    .pay-message {
    display: flex;
    flex-flow: column;
    align-items: center;
    h2{
      font-size: 36px;
      color:  #373d48;
      font-weight: 100;
    }
    p{
      color:  #6d7986;
      font-weight: 200;
      line-height: 1.75;
      width: 80%;
      text-align: center;
      font-size: 18px;
      margin-top:-20px;
    }
  }
  .pay-card{
    display: flex;
    flex-flow: column;
    align-items: center;
    .free, .private, .enterprise{
      background: #fff;
      border: 1px solid #ccc;
      border-top-width: 10px;
      border-top-color: #cb3837;
      border-radius: 10px;
      width: 65%;
      margin-bottom: 20px;
      h3{
        font-size: 48px;
        padding-right: 20px;
        font-weight: 100;
        text-align: right;
      }
      h4{
        color: #cb3837;
        font-size: 18px;
        margin-left: 20px;
        margin-top: -30px;
      }
      h5{
        color: #cb3837;
        font-size: 16px;
        margin-left: 20px;
        font-weight: 100;
        margin-top: -15px;
      }
      p{
        text-align: left;
        color: #6d7986;
        font-size: 14px !important;
        font-weight: 700;
        margin-left:20px;
        line-height: 1.286;
        margin-bottom: 30px;
      }
      button{
        color: #fff;
        background-color: #cb3837;
        outline: none;
        transition: all 300ms ease-out;
        font-weight: 400;
        border-radius: 20px;
        width: 80%;
        margin-left: 10%;
        padding: 10px 0;
        font-size: 18px;
        border: none;
        cursor:pointer;
        margin-bottom: 15px;

      }
      button:hover{
        background-color: #ac2e2d;
      }
    }
    .private{
      border-top-color:  #2a79a7;
      h4{
        text-align: right;
        color: grey;
        font-size: 12px;
        font-weight: 700;
        margin-right: 20px;
        margin-top: -45px;
        margin-bottom: 40px;
      }
      h5{
        color: #2a79a7;
        font-size: 18px;
        margin-left: 20px;
        margin-top: -30px;
        font-weight: 700;
      }
      h6{
        color: #2a79a7;
        font-size: 16px;
        margin-left: 20px;
        font-weight: 100;
        margin-top: -15px;
      }
      button{
        background-color: #2a79a7;
      }
      button:hover{
        background-color:  #2a79a7;
      }
    }
    .enterprise{
      border-top-color:  #f09233;
      h3{
        span{
          color: grey;
          font-size: 12px;
          font-weight: 100;
        }
      }
      h4{
        text-align: right;
        color: grey;
        font-size: 12px;
        font-weight: 700;
        margin-right: 20px;
        margin-top: -45px;
        margin-bottom: 40px;
      }
      h5{
        color:  #f09233;
        font-weight: 700;
      }
      h6{
        color: #f09233;
        font-size: 14px;
        margin-left: 20px;
        font-weight: 100;
        margin-top: -15px;
      }
      button{
        background-color: #f09233;
      }
      button:hover{
        background-color:   #f09233;
      }
    }
  }
  .payFooter{
    display: flex;
    flex-flow: column;
    align-items: center;
    h2{
      font-size: 26px;
      text-align: center;
      margin-left: 0;
    }
    p{
      color:  #6d7986;
      width: 70%;
      margin-left: 15%;
      padding-bottom: 20px;
    }
  }
}
@media only screen and (min-width: 768px){
  .paySolutions{
    .pay-card{
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
      align-items: stretch;
      height: 550px;
      .free, .private, .enterprise{
        position: relative;
        width: 30%;
        button{
          position: absolute;
          bottom: 10px;
        }
      }
    }
  }
}

/**** PACKAGE STYLE ****/

.packagePeople{
  display: flex;
  flex-flow: column;
  margin-bottom: 100px;
  .package-title{
    h2{
      font-size: 36px;
      color:  #373d48;
      font-weight: 100;
      margin-left: 25px;
      text-align: center;
    }
  }
  .package-item-container{
    .mobile, .item{
      width: 90%;
      img{
        height: 4em;
        margin: 20px 15px;
      }
      h3{
        font-weight: 600;
        font-size: 18px;
        margin-bottom: -15px;
      }
      p{
        font-size: 16px;
        color: #6d7986;
        font-weight: 100;
      }
    }
    .mobile{
      .item{
        display: flex;
      }
    }
    .ipad, .desktop{
      display:none;
    }
  }
}
@media only screen and (min-width: 768px){
  .packagePeople{
    .package-item-container{
      .mobile{
        width: 40%;
        margin-left: 10%;
      }
    }
  }
}
@media only screen and (min-width: 991px){
  .packagePeople{
    .package-item-container{
      display: flex;
      .mobile{
        width: 40%;
        margin-left: 10%;
      }
      .ipad{
        width: 40%;
        display: block;
        border-left: 2px solid lightgrey;
        .item{
          display:flex;
          .gulp{
            margin: 20px 30px;
          }
          .express{
            width: 80px;
            height: 26px;
            margin: 20px 10px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px){
  .packagePeople{
    .package-item-container{
      justify-content: space-around;
      .mobile{
        margin-left: 3%;
      }
      .desktop{
        width: 40%;
        display: block;
        border-left: 2px solid lightgrey;
        .item{
          display:flex;
        }
      }
    }
  }
}

/**** PEOPLE STYLE ****/

.people{
  display: flex;
  flex-flow: column;
  img{
    margin: 20px 15px;
  }
  h3{
    font-weight: 600;
    color: #607580;
    margin-bottom: -5px;
  }
  p{
    font-size: 13px;
    color: #6d7986;
    font-weight: 100;

  }
  h2{
    font-size: 36px;
    color:  #373d48;
    font-weight: 100;
    margin-left: 25px;
    text-align: center;
  }
  .person-container{
    display: flex;
  }
}
@media only screen and (min-width: 768px){
  .people{
    width: 80%;
    padding: 15px 10%;
  }
}
@media only screen and (min-width: 992px){
  .people{
    width: 95%;
    padding: 0 ;
    display: flex;
    flex-direction: row;
    .content-people{

    }
  }
}

/**** MOSTPACKAGES STYLE ****/

.most-packages{
  display: flex;
  flex-flow: column;
  margin-bottom: 100px;
  .most-packages-title{
    h2{
      font-size: 36px;
      color:  #373d48;
      font-weight: 100;
      margin-left: 25px;
      text-align: center;
    }
  }
  .most-package-item-container{
    .mobile, .element{
      width: 90%;
      img{
        height: 28px;
        margin: 20px 15px;
      }
      h3{
        font-weight: 600;
        font-size: 18px;
        margin-bottom: -15px;
      }
      p{
        font-size: 16px;
        color: #6d7986;
        font-weight: 100;
      }
    }
    .mobile{
      .element{
        display: flex;
      }
    }
    .ipad, .desktop{
      display:none;
    }
  }
}
@media only screen and (min-width: 768px){
  .most-packages{
    .most-package-item-container{
      .mobile{
        width: 40%;
        margin-left: 10%;
      }
    }
  }
}
@media only screen and (min-width: 991px){
  .most-packages{
    .most-package-item-container{
      display: flex;
      .mobile{
        width: 40%;
        margin-left: 10%;
      }
      .ipad{
        width: 40%;
        display: block;
        border-left: 2px solid lightgrey;
        .element{
          display:flex;
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px){
  .most-packages{
    .most-package-item-container{
      justify-content: space-around;
      .mobile{
        margin-left: 3%;
      }
      .desktop{
        width: 40%;
        display: block;
        border-left: 2px solid lightgrey;
        .element{
          display:flex;
        }
      }
    }
  }
}

footer{
  background: #273547;
  width: 100%;
  padding: 24px 0;
  .footer-items{
    display: flex;
    flex-direction: column;
    .help{
    h2{
        color: #A4BBD7;
        padding: 50px 0px 20px 10px;
        font-size: 20px;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    ul{
      list-style: none;
      margin-left: -25px;
      li{
        font-size: 14px;
        color: #fff;
        margin-bottom: 15px;
        font-weight: 100;
      }
      li:last-of-type{
        margin-bottom: -60px;
      }
    }
  }
}
.npm-loves{
  margin-top:100px;
  text-align: center;
  color: #fff;
  font-weight: 100;
  cursor:pointer;
  }
}
@media only screen and (min-width: 991px){
  footer{
    .footer-items{
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
